.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: 
    "toolbar toolbar toolbar"
    "main main sidebar"
    "main main sidebar"
    "main main sidebar"
    "main main sidebar"

}

.toolbar {
  grid-area: toolbar;
}
