.layout {
  height: 100vh;
  display: grid;
  overflow-x: hidden;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto 1fr 1fr 30%; 
  grid-template-areas: 
    "toolbar toolbar toolbar"
    "codeview codeview sidebar"
    "codeview codeview sidebar"
    "visibility visibility sidebar"
}

.toolbar {
  grid-area: toolbar;
}

.codeview {
  grid-area: codeview;
  overflow: auto;
}

.visibility {
  grid-area: visibility;
  overflow: auto;
}

.sidebar {
  grid-area: sidebar;
  overflow: auto;
}