.container {
    display: flex;
    flex-direction: row;
    gap: 1em;

    margin-left: 3rem;
}

.continue {
    color: #34701F;
}

.continue:hover {
    color: #4a9f2c;
}

.stop {
    color: #E58367;
}

.stop {
    color: #fa977c;
}

.container[data-state=disabled] {
    opacity: 0.3;
}