button[data-type="primary"] {
    appearance: none;
    color: var(--primary-text-color);
    border: 1px solid var(--primary-accent-color);
    padding: 0.5rem 1rem;
}

button:hover {
    cursor: pointer;
    border-color: var(--primary-highlight-color);
}

.default {
    background-color: var(--primary-color);
}

.highlight {
    background-color: var(--primary-highlight-color);
}