.btn[data-type="primary"] {
    appearance: none;
    color: var(--primary-text-color);
    border: 1px solid var(--primary-accent-color);
    padding: 0.5rem 1rem;
}

.btn:disabled {
    opacity: 1;
    color: var(--primary-text-color);
    border: 1px solid var(--primary-accent-color);
    padding: 0.5rem 1rem;
}

.btn:not(:disabled) {
    cursor: pointer;
}

.default {
    background-color: var(--primary-color);
}

.highlight {
    background-color: var(--primary-highlight-color);
}