label > input {
    display: none;
}

label > div[data-type="icon"] {
    border-left: 1px solid var(--primary-text-color);
    padding: 0.5rem 1rem;
}

label > span {
    padding: 0.5rem 1rem;
}

label {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 1em;
    appearance: none;
    color: var(--primary-text-color);
    background-color: var(--primary-highlight-color);
    border: 1px solid var(--primary-text-color);
    margin-bottom: 0.5rem;
}

label:hover {
    cursor: pointer;
    border-color: var(--primary-highlight-color);
}