.link {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: center;
    color: hsl(205, 100%, 75%);
    text-decoration-color: hsla(205, 100%, 75%, 0.3);
    text-decoration-thickness: 0.125rem;
    filter: brightness(117.5%);
}

.link:hover {
    cursor: pointer;
    text-decoration: underline
}