.container {
    display: grid;
    gap: 0.6em;
    grid-template-columns: repeat(4, min-content);

    color: var(--primary-text-color);
    margin-bottom: 1em;
}

.item {
    color: var(--primary-text-color);
}

.item:hover {
    cursor: pointer;
    color: var(--primary-highlight-color);
    text-decoration: none;
}
